<!--The content below is only a placeholder and can be replaced.-->

<script src="../../graph.js"></script>
<h2> Movilidad MADRID </h2>

<div class="container">
  <div class="page-header">
    <h1>Correlacion de las variables con la tasa de movilidad:</h1>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md.3">
      <div class="form-group">
        <label for="varSelector">Selecciona la variable</label>
        <select class="form-control" id="varSelector" data-name="var-selector">
          <option value="afiliados-ss_PCP">Afiliados SS por cada 100 personas</option>
          <option value="autonomos_PCP">Nº Autónomos por cada 100 personas</option>
          <option value="empresas_PCP">Nº Empresas por cada 100 personas</option>
          <option value="personas-paradas_PCP">Nº Parados por cada 100 personas</option>
          <option value="poblacion">Población</option>
          <option value="renta-bruta-media">Renta Bruta Media</option>
          <option value="renta-disponible-media">Renta Disponible Media</option>
          <option value="viviendas-familiares_PCP">Viviendas familiares por cada 100 personas</option>
          <option value="viviendas-principales_PCP">Viviendas principales por cada 100 personas</option>
        </select>
      </div>
    </div>
    <div class="col-lg-9 col-md-9">
      <div id="vis">
      </div>
    </div>
  </div>
</div>

